<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Users</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="gotoSettings()">
        <ion-icon name="cog"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
  <!-- <ion-toolbar color="primary">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col size="8" class="ion-no-padding">
          <ion-searchbar (ionChange)="searchUpdate()" [(ngModel)]="term"></ion-searchbar>
        </ion-col>
        <ion-col size="4" class="ion-no-padding">
          <ion-select [(ngModel)]="option" interface="popover">
            <ion-select-option [value]="'phone'">Phone</ion-select-option>
            <ion-select-option [value]="'cnic'">CNIC</ion-select-option>
          </ion-select>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar> -->
</ion-header>

<ion-content color="tertiary">
  <ion-list>
    <ion-item-sliding *ngFor="let item of list">
      <ion-item>
        <ion-label>
          <h2>Name: {{item.name}}</h2>
          <p>Address / Phone: {{item.address}} / {{item.phone}}</p>
          <p>CNIC: {{item.cnic}}</p>
        </ion-label>
        <ion-badge>{{item.status}}</ion-badge>
        <ion-icon name="share-social" (click)="share(item)"></ion-icon>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="delete(item)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngIf="list.length == 0">
    <ion-item>
      <ion-label class="ion-text-center"> No data available </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="showSearch()">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-popover [isOpen]="isSearchOpen">
    <ng-template>
      <app-search [refEvent]="hideSearch"></app-search>
    </ng-template>
  </ion-popover>
</ion-content>
