<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="exportData()">
      <ion-label class="ion-text-wrap">
        <h2>Export Your App Data</h2>
        <p>
          Click here to export your entered data in this app as an export file
          and then you can re-import that data into this app in another mobile.
          Thanks
        </p>
      </ion-label>
    </ion-item>
    <ion-item (click)="importData()">
      <ion-label class="ion-text-wrap">
        <h2>Import Your App Data</h2>
        <p>
          Click here to import the external data file exported from above option
          from any other device to import data in this device in this app.
          Thanks
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
