<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons>
      <ion-button (click)="close()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add New Record</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()"> SAVE </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="aForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input formControlName="name" placeholder="enter name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">CNIC</ion-label>
        <ion-input formControlName="cnic" placeholder="enter cnic"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Phone</ion-label>
        <ion-input
          formControlName="phone"
          placeholder="enter phone"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Address</ion-label>
        <ion-input
          formControlName="address"
          placeholder="enter address"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Status</ion-label>
        <!-- <ion-input formControlName="status" placeholder="enter status"></ion-input> -->
        <ion-select formControlName="status">
          <ion-select-option [value]="'active'">Active</ion-select-option>
          <ion-select-option [value]="'inactive'">Inactive</ion-select-option>
        </ion-select>
      </ion-item>
      <!-- <ion-item lines="none">
        <ion-label position="stacked">Build Year</ion-label>
        <ion-datetime
          formControlName="year"
          class="ion-margin-top"
          format="MM-DD-YYYY"
        ></ion-datetime>
      </ion-item> -->
    </ion-list>
  </form>
</ion-content>
