<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons>
      <ion-button (click)="close()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Search User</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="save()"> SEARCH </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col size="9" class="ion-no-padding">
        <ion-searchbar [(ngModel)]="term"></ion-searchbar>
      </ion-col>
      <ion-col size="3" class="ion-no-padding" style="margin-top: 10px">
        <ion-select [(ngModel)]="option" interface="popover">
          <ion-select-option [value]="'phone'">Phone</ion-select-option>
          <ion-select-option [value]="'cnic'">CNIC</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" (click)="search()">
          <ion-icon name="search-outline" class="ion-margin-end"></ion-icon>
          SEARCH
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
