<ion-content color="tertiary">
  <ion-button class="bbtn" expand="block" shape="round" (click)="gotohome()">
    <ion-spinner [hidden]="!loading"></ion-spinner
    ><span *ngIf="!loading">START</span>
  </ion-button>

  <ion-img class="car-gif" src="assets/vgn.gif"></ion-img>
</ion-content>
