<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button id="trigger-button" (click)="showMenu()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>New Record</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar color="primary">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col size="8" class="ion-no-padding">
          <ion-searchbar (ionChange)="searchUpdate()" [(ngModel)]="term"></ion-searchbar>
        </ion-col>
        <ion-col size="4" class="ion-no-padding">
          <ion-select [(ngModel)]="option" interface="popover">
            <ion-select-option [value]="'phone'">Phone</ion-select-option>
            <ion-select-option [value]="'cnic'">CNIC</ion-select-option>
          </ion-select>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar> -->
</ion-header>

<ion-content color="tertiary">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-popover
          [isOpen]="showPopover"
          trigger="trigger-button"
          [arrow]="false"
          class="ion-no-padding"
        >
          <ng-template>
            <ion-item (click)="exportData()">
              <ion-label>
                <h2>Export Data</h2>
              </ion-label>
            </ion-item>

            <ion-item (click)="importData()">
              <ion-label>
                <h2>Import Data</h2>
              </ion-label>
            </ion-item>
          </ng-template>
        </ion-popover>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="12" class="ion-text-center" (click)="addCar()">
        <ion-label color="dark">
          <ion-icon name="add-circle-outline" class="ion-margin-end"></ion-icon>
          INSERT FROM HERE
        </ion-label>
      </ion-col>
    </ion-row> -->

    <!-- <ion-row>
      <ion-col>
        <ion-label class="ion-text-center">
          <h1><b> Add a User </b></h1>
        </ion-label>
      </ion-col>
    </ion-row> -->

    <form [formGroup]="aForm">
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input
            formControlName="name"
            placeholder="enter name"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">CNIC</ion-label>
          <ion-input
            formControlName="cnic"
            placeholder="enter cnic"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Phone</ion-label>
          <ion-input
            formControlName="phone"
            placeholder="enter phone"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Address</ion-label>
          <ion-input
            formControlName="address"
            placeholder="enter address"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Status</ion-label>
          <!-- <ion-input formControlName="status" placeholder="enter status"></ion-input> -->
          <ion-select formControlName="status">
            <ion-select-option [value]="'verified'">Verified</ion-select-option>
            <ion-select-option [value]="'unverified'"
              >Unverified</ion-select-option
            >
          </ion-select>
        </ion-item>
        <!-- <ion-item lines="none">
          <ion-label position="stacked">Build Year</ion-label>
          <ion-datetime
            formControlName="year"
            class="ion-margin-top"
            format="MM-DD-YYYY"
          ></ion-datetime>
        </ion-item> -->
      </ion-list>
    </form>

    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="save(true)">
          <ion-icon name="save-outline" class="ion-margin-end"></ion-icon>
          SAVE
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="searchUser()">
        <ion-icon name="search"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-grid>
</ion-content>
