<ion-grid class="ion-no-padding">
  <ion-item lines="none">
    <ion-label class="ion-text-center"> <h1>Search Car</h1> </ion-label>
    <ion-icon
      name="close-circle"
      color="medium"
      slot="end"
      (click)="onSearch()"
    ></ion-icon>
  </ion-item>
  <ion-row class="ion-no-padding ion-padding-start ion-padding-end">
    <ion-col size="9" class="ion-no-padding">
      <ion-searchbar [(ngModel)]="term"></ion-searchbar>
    </ion-col>
    <ion-col size="3" class="ion-no-padding" style="margin-top: 10px">
      <ion-select [(ngModel)]="option" interface="popover">
        <ion-select-option [value]="'phone'">Phone</ion-select-option>
        <ion-select-option [value]="'cnic'">CNIC</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row class="ion-padding-start ion-padding-end ion-margin-bottom">
    <ion-col size="12">
      <ion-button expand="block" (click)="onSearch(true)">
        <ion-icon name="search-outline" class="ion-margin-end"></ion-icon>
        SEARCH
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
